{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            {% block naview %}
            <h1>BillMon</h1>
            {% endblock naview %}
        </nav>
        {% block expenseview %}
            <p>You are not logged in, login <a href="/login">here</a></p>
        {% endblock expenseview %}
        {% block statsview %}
        {% endblock statsview %}
        <script src="{% static 'script0.js' %}"></script>
    </body>
</html>